<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= file.title %></title>
</head>
<body>
    <a href="/folder/<%= file.folderId %>">Back to folder</a>
    <h1><%= file.title %></h1>
    <div class="fileContainer">
        <ul>
            <li>Size: <%= file.size %></li>
            <li>Uploaded: <%=file.uploaded %></li>
        </ul>
        <button type="button">Download</button>
    </div>
</body>
</html>