<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="homePageContainer">
        <% if (user) {%>
            <div class="userDiv">
                <h1 class="welcomeHeading">Welcome back, <%= user.username %></h1>
                <div class="folders">
                    <button type="button" onclick="document.getElementById('folderFormContainer').style.display='inline-block'">Create Folder</button>
                    <% if (folders.length > 0) {%> 
                        <ul class="folderList">
                        <% for (const folder of folders) {%>
                                <li class="folder"><a href="/folder/<%= folder.id %>"><%= folder.title %></a></li>
                                <% } %>
                        </ul>
                            <% } else {%>
                                <h3>Create a folder to upload files</h3>
                                <% } %>
                            </div>
                            <div id="folderFormContainer" class="folderFormContainer" style="display:<%= showForm %>">
                                <h3 class="createNewFolderHeading">Create a new folder</h3>
                                <form class="folderForm" action="/createFolder" method="POST">
                                    <%- include("partials/errors.ejs") %>
                                    <label class="folderInput" for="title">Folder name</label>
                                    <input class="folderInput" type="text" name="title" id="title" required="true">
                                    <button class="folderInput" type="submit">Create</button>
                                    <button class="folderInput" type="button" onclick="document.getElementById('folderFormContainer').style.display='none'">Close</button>
                                </form>
                            </div>
                        </div>
                        <a href="/logOut">Log Out</a>
                        <% } else { %>
                            <h1>Welcome to Drive</h1>
                            <div class="signUpLogInContainer">
                                <a href="/signUp">Sign Up New User</a>
                                <a href="/logIn">Log In</a>
                            </div>
        <% } %>
    </div>
</body>
</html>